@page
@model IndexModel
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" utf-8" />
    <title>Редактирование файла на Google Drive</title>
</head>
<body>
    <h3>
        <form method="post" asp-page-handler="ConfigureDriveService">
            <button type="submit" style="color: #4285f4;
              text-decoration: underline; 
               background: none;
                 border: none; padding: 0;
               cursor: pointer;">
             Google Drive
            </button>
        </form>
    </h3>
</body>
</html>


